
/* 换行模式下的网格布局 */
.chroma.wrap-lines {
  display: grid !important;
  grid-template-columns: auto 1fr;
}

/* .chroma.wrap-lines .ln,
.chroma.wrap-lines .lnt {
  grid-column: 1;
  padding-right: 1rem;
  text-align: right;
  user-select: none;
  min-width: 2.5rem;
  color: oklch(0.61 0.01 97.42); 
}
 */
.chroma .ln {
  user-select: none;  /* 禁止行号被选中 */
}
.chroma.wrap-lines .ln {
  grid-column: 1;
  user-select: none;  /* 禁止行号被选中 */
}
.chroma.wrap-lines .cl {
  grid-column: 2;
  white-space: pre-wrap !important;
  word-break: break-word !important;
  overflow-wrap: normal !important;
  /* padding-left: 0.5rem;  */
}

/* 确保代码内容正确换行 */
.chroma.wrap-lines .cl,
.chroma.wrap-lines .cl * {
  display: inline;
  white-space: pre-wrap !important;
  word-break: break-word !important;
}

.chroma.wrap-lines .cl::after {
  content: "";
  display: table;
  clear: both;
}
/* .chroma.wrap-lines > .ln,
.chroma.wrap-lines > .lnt {
  position: relative;
  top: 0.1em; 
} */

.chroma:not(.wrap-lines) {
  display: block;
}

.chroma:not(.wrap-lines) .ln,
.chroma:not(.wrap-lines) .lnt {
  display: inline-block;
  /* padding-right: 0.5rem; */
}