

/* body {
  background-color: var(--bg-color) !important;
}  */
:root {
  --color-muted-foreground: oklch(0.61 0.01 97.42);
  /* --bg-color: oklch(0.98 0.01 95.1);  */
  --container-width: 200%;  /* 调整整体容器宽度（百分比） */
  /* 最大宽度限制 */
  --container-max-width: 100rem;  
  --code-header-hover-color: oklch(0.45 0.01 97.42);
}

pre {
  margin-top: 0 !important;
}
h1 {
  margin-top: 1rem;
}
.prose .chroma  {
  margin: 0 !important;
  padding-top: 0.5rem;
  border-radius: 0 !important;
  background: oklch(0.93 0.02 90.24);
  
  /* white-space: pre-wrap !important;
  word-break: break-word !important; */
  /* overflow-wrap: anywhere !important; */
}

pre.chroma.collapsed{
  max-height: 0 !important;
  overflow: hidden !important;
  padding: 0 !important;
}
.copy-button {
  background: transparent;
}
.redirect-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    margin: 2rem auto;
    padding: 2rem;
    border: 1px solid #eaeaea;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    text-align: center;
}


pre.chroma .ln {
  float: left;
  /* 设置行号区域的宽度 */
  width: 20px;
  text-align: right;
  margin-right: 10px;
  user-select: none;  /* 禁止行号被选中 */
}

pre.chroma .cl {
  display: block;
  margin-left: 30px; /* 与行号宽度一致 */
}

pre.chroma.wrap-lines .cl {
  display: block;
  margin-left: 30px; /* 与行号宽度一致 */
  white-space: pre-wrap !important;
}


.custom-checkbox {
  display: inline-flex;
  align-items: center;
  margin: 10px 0;
  cursor: default;
}

.custom-checkbox input {
  display: none;
}

.custom-checkbox .checkmark {
  width: 20px;
  height: 20px;
  border: 2px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease;
}

.custom-checkbox .checkmark::after {
  content: "×";
  font-size: 16px;
  font-weight: bold;
  color: white;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.custom-checkbox input:checked + .checkmark {
  background-color: #4a6ee0;
  border-color: #4a6ee0;
}

.custom-checkbox input:checked + .checkmark::after {
  opacity: 1;
}

.custom-checkbox.disabled .checkmark {
  background-color: #f5f5f5;
  border-color: #ddd;
}

.custom-checkbox.disabled input:checked + .checkmark {
  background-color: #a0a0a0;
  border-color: #a0a0a0;
}