{{ $lang := .Type | default "text" | lower }}
<div class="code-block-wrapper">
  <div class="code-header">
    <span class="language-label">
      <span class="language-brackets"></></span>
      <span class="language-name">{{ $lang | markdownify }}</span>
    </span>

    <div class="code-buttons">
      <!-- 添加换行按钮 -->
      <button class="wrap-button" title="切换换行">
        <i class="fas fa-text-width"></i>
        <span>换行</span>
      </button>
      
      <button class="copy-button" title="复制代码">
        <i class="fas fa-copy"></i>
        <span>复制</span>
      </button>
    </div>
  </div>
  <div class="code-content">
    {{ highlight .Inner $lang }}
  </div>
</div>